.about-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.about-text10 {
  display: inline-block;
}
 
.about-text11 {
  display: inline-block;
}
 
.about-text12 {
  display: inline-block;
}
 
.about-text13 {
  display: inline-block;
}
 
.about-text14 {
  display: inline-block;
}
 
.about-text15 {
  display: inline-block;
}
 
.about-text16 {
  display: inline-block;
}
 
.about-text17 {
  display: inline-block;
}
 
.about-text18 {
  display: inline-block;
}
 
.about-text19 {
  display: inline-block;
}
 
.about-text20 {
  display: inline-block;
}
 
.about-text21 {
  display: inline-block;
}
 
.about-text22 {
  display: inline-block;
}
 
.about-text23 {
  display: inline-block;
}
 
.about-text24 {
  display: inline-block;
}
 
.about-text25 {
  display: inline-block;
}
 
.about-text26 {
  display: inline-block;
}
 
.about-text27 {
  display: inline-block;
}
 
.about-text28 {
  display: inline-block;
}
 
.about-text29 {
  display: inline-block;
}
 
.about-text30 {
  display: inline-block;
}
 
.about-text31 {
  display: inline-block;
}
 
.about-text32 {
  display: inline-block;
}
